In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import make_classification, make_blobs

#### Generate a simple dataset

In [2]:
# Create easily seperable blobs with 8 features
simple_dataset = make_blobs(n_samples=[50, 50], n_features=8, centers=None,
                            cluster_std=1.0, center_box=(-10.0, 10.0), shuffle=True,
                            random_state=27, return_centers=False)

In [3]:
simple_dataset

(array([[-2.65311508,  6.05242053,  2.44595521,  6.74406103, -1.54022833,
          8.36122368,  7.86849814, -5.03275027],
        [ 6.24954183,  3.34479671,  7.98772044,  5.1177021 ,  3.96252559,
          6.1548466 , -7.16589078, -2.07626559],
        [-0.65069154,  6.13997597,  3.27098297,  6.87441278, -0.49929825,
         10.0085335 ,  8.48113138, -6.64880074],
        [-1.21911932,  6.05935646,  6.1049881 ,  6.43540946, -4.50606972,
          8.25307072,  5.82752198, -6.66147654],
        [ 0.8845229 ,  8.28977492,  4.83762026,  7.96596389, -4.07209046,
          9.28890093,  8.84580334, -5.31097044],
        [ 3.92450595,  1.78784006,  7.81069074,  8.04226846,  5.78317778,
          6.9429924 , -8.39388165, -5.30433917],
        [ 3.54646933,  3.20355082,  6.54444545,  5.9294005 ,  4.95390505,
          6.86519003, -6.09803449, -0.31182613],
        [-0.66929331,  6.67407702,  3.38912617,  9.84556505, -2.36827459,
          9.42615707,  7.23390512, -6.43392241],
        [ 4.57512941,  3.87288234,  9.46941872,  7.89901897,  4.80030546,
          6.00651991, -4.27895537, -2.72123997],
        [ 3.96765055,  2.67507241,  9.78140587,  5.34090102,  4.19065306,
          6.83994281, -7.6990095 , -3.77246959],
        [-1.24990651,  8.32556659,  4.30542645,  7.44664451, -2.50848284,
          8.21045234,  8.4414671 , -5.49806186],
        [-1.62042812,  6.61183445,  5.03352834,  6.80395885, -3.44746131,
          8.35543048,  6.59599939, -5.20247969],
        [-1.66919094,  5.86441376,  4.87155399,  6.71223862, -1.00902845,
         10.41904208,  7.43994835, -4.65399627],
        [-1.79260872,  5.76623305,  5.67357166,  6.83711769, -3.84122757,
         10.93271766,  8.48865067, -4.59810784],
        [ 4.95512246,  4.84574505,  7.69075379,  6.29824224,  5.82304889,
          9.79626671, -6.41761606, -3.63766232],
        [ 4.21677007,  3.59568657,  8.33568389,  7.04378105,  4.81410936,
          8.68361489, -4.31155667, -2.83202883],
        [-1.7139428 ,  7.57701706,  5.91713446,  6.04952437, -2.29445399,
          9.04095314,  7.01332353, -5.02531198],
        [-2.92919782,  6.68882232,  5.72889194,  7.68279079, -0.41244746,
          8.68954035,  7.87742021, -6.31703682],
        [-1.65616459,  8.01080892,  7.27981358,  7.16668397, -2.25087334,
         10.04545925,  7.02065811, -4.27894346],
        [-1.27007326,  8.25307904,  4.79260546,  7.50698928, -2.58835701,
          9.01190607,  7.53287367, -4.23585064],
        [-1.7084105 ,  6.97131266,  4.78699078,  7.27772874, -1.47982143,
          8.87182445,  8.95646355, -5.32848791],
        [-2.56345668,  5.60381155,  6.65145666,  7.47933536, -1.43659256,
          8.73195986,  9.12003902, -5.88927599],
        [ 3.37678881,  2.75934589,  8.49191382,  4.57845793,  4.96803804,
          5.58918333, -6.35806271, -2.81052819],
        [ 0.28701464,  7.52971093,  4.11878937,  6.59516584, -2.66419316,
          8.69142545,  8.91987221, -5.69482457],
        [-3.18915928,  8.00659453,  3.0021268 ,  6.8604008 , -1.87082074,
          8.17571997,  8.41238555, -6.80088889],
        [-1.08969419,  3.7277592 ,  5.59621444,  7.25568909, -1.91001984,
          8.41649384,  7.54464176, -5.19639797],
        [-2.25410426,  6.94235308,  3.69838973,  7.01204434, -4.62018785,
          8.51893048,  8.39222199, -5.62272092],
        [ 5.23018633,  3.34430813,  6.59440102,  6.81355083,  4.80011173,
          7.02902074, -5.02770558, -3.88514998],
        [-0.25938856,  5.7612183 ,  4.43246272,  7.06882065, -2.56977914,
          9.07878557,  7.31803376, -5.34696782],
        [-2.3380519 ,  6.99816955,  5.24497318,  6.25924148, -2.32365253,
          9.65141202,  7.56725801, -6.08769598],
        [ 3.8756723 ,  2.07690341,  7.49301795,  6.18650153,  5.0548633 ,
          6.18419973, -6.74679941, -4.86132404],
        [-0.22270784,  4.20215514,  3.28095785,  7.63113016, -2.17765117,
         10.15188981,  8.89694458, -4.84405262],
        [ 4.04935358,  1.32737185,  7.44960149,  8.20889086,  6.46475351,
          7.54179169, -6.14412544, -2.69433764],
        [ 3.85231962,  3.85998439,  9.88732694,  6.08219067,  5.26380124,
         10.24379253, -8.24267079, -2.22266238],
        [ 5.2045719 ,  2.87290276,  7.11510206,  8.10442332,  4.89025413,
          8.63863969, -6.21112214, -2.82919642],
        [-0.05512384,  7.27150392,  6.08856165,  6.16020614, -2.78119114,
         10.86846787,  7.09880099, -5.35611633],
        [ 4.00253284,  5.49772995,  7.07361759,  6.8360942 ,  5.32886122,
          9.23752485, -5.4682959 , -4.65788435],
        [ 3.67066604,  2.56688896,  7.56398492,  8.87768162,  5.17968389,
          6.37776453, -4.67516235, -3.94778362],
        [-1.92160923,  4.90612817,  2.9121129 ,  7.65661773, -2.37392145,
          9.7101088 ,  8.25202244, -5.65507722],
        [-2.66085779,  8.32944161,  6.10182222,  7.17707877, -2.53656189,
          9.01540929,  7.09236319, -6.01646649],
        [-3.00678081,  6.91257546,  6.51727425,  8.37311913, -1.19252811,
         10.37582535,  7.67825281, -5.5106683 ],
        [ 3.16433946,  4.66446505,  8.30918517,  8.930214  ,  4.35811194,
          6.78174673, -5.61645859, -4.19235917],
        [ 3.82089999,  3.03595535,  7.45734479,  6.16494523,  4.18624777,
          5.7862552 , -5.87730529, -3.26352374],
        [ 4.26235792,  4.45981528,  8.06387339,  8.20613283,  5.6334548 ,
          8.04890178, -6.77430016, -2.98766197],
        [ 6.16311103,  3.06795755,  8.48847327,  6.82008987,  4.78497976,
          8.21002073, -5.18676887, -3.65667092],
        [ 0.3394347 ,  4.49498543,  5.85905273,  8.38363432, -2.41288174,
          8.24907139,  8.17958528, -7.04348505],
        [ 6.63972597,  3.39672454,  7.06542736,  7.10900892,  5.29582837,
          7.66721801, -7.26221661, -1.58502837],
        [ 5.76792529,  3.25941319,  9.98390999,  9.11306874,  5.47784725,
          6.47366522, -5.16536957, -1.95945966],
        [-1.30401337,  6.8609834 ,  6.16265698,  7.32784879, -3.46549862,
          9.50611913,  8.28612758, -5.90134863],
        [-0.58463333,  7.85345402,  3.22841682,  6.78084265, -1.93520748,
          8.907787  ,  6.43422674, -4.32742988],
        [ 5.12279795,  2.93048802,  7.74452604,  8.85088885,  5.81340518,
          6.74150194, -9.23152711, -4.43106152],
        [-0.59171048,  6.392723  ,  5.73143332,  7.73100899, -1.4789635 ,
          9.92664563,  7.19766087, -5.62795252],
        [ 5.39700626,  2.6964675 ,  6.37403065,  6.32317641,  5.77861895,
          6.14039442, -7.78484438, -3.47413933],
        [ 3.96698402,  4.42191156,  8.25474398,  7.19177441,  4.25180888,
          8.06318772, -6.37361055, -3.99604166],
        [ 5.73479487,  1.65753358,  7.50618019,  7.85603137,  4.68106724,
          6.81360649, -5.06941519, -4.6218524 ],
        [ 4.32941295,  3.30686422,  8.41353794,  8.41660222,  3.97781983,
          7.26129813, -4.31292877, -3.62540532],
        [ 5.19094926,  2.77725035,  7.48680259,  6.6062352 ,  6.67910902,
          8.26905854, -5.4750962 , -3.23915367],
        [ 4.71998783,  2.0430106 ,  7.9204336 ,  7.71576738,  5.77180684,
          5.22600825, -8.0801836 , -2.93558177],
        [ 6.22802897,  3.48410545, 10.4944079 ,  7.65846224,  4.61877017,
          9.04240066, -4.64659816, -4.7061865 ],
        [-1.36947306,  4.49541635,  1.36644235,  6.9055109 , -2.08407954,
          9.19378173,  6.14398986, -6.56819318],
        [-1.30513926,  7.92346073,  3.95235442,  6.33135218, -2.6559677 ,
          8.73575624,  5.46051896, -6.04247698],
        [-1.14371647,  5.67951084,  5.53453071,  6.9836856 , -2.04393947,
          9.29668546,  7.42275016, -6.86592836],
        [ 4.44665896,  4.40060557,  7.70981118,  5.46244166,  4.78661104,
          6.76459301, -5.09644632, -3.07027734],
        [-1.23620033,  6.23747633,  5.1161043 ,  7.00296604, -3.70318554,
          9.4091843 ,  7.71082643, -7.080596  ],
        [-0.75346975,  6.04088816,  5.79780247,  7.23384005, -2.370075  ,
         10.65528981,  6.70741868, -5.23634443],
        [ 5.35733241,  3.47125804,  8.04383607,  7.17295179,  4.21214951,
          7.0283505 , -7.26157678, -1.87861126],
        [ 5.67907533,  3.93337376,  9.73904928,  7.30937473,  4.19067675,
          9.88807696, -6.09765111, -4.5419013 ],
        [ 3.98584192,  0.79332205,  7.92533809,  6.54768524,  3.43632268,
          7.88839544, -4.93881483, -3.51805643],
        [ 5.60197846,  2.98298579,  6.9955107 ,  5.98676807,  5.38801372,
          8.0638623 , -4.72085108, -3.43889126],
        [ 4.19717764,  4.43450248,  8.41898621,  8.55075691,  5.76683025,
          6.0203069 , -8.71747559, -4.38023976],
        [ 3.80095022,  3.58266185,  8.31340153,  6.14390696,  5.2298539 ,
          7.92861232, -6.2178042 , -0.93942481],
        [ 4.42909026,  2.84873002,  7.40970056,  7.57358199,  6.33062257,
          6.63967698, -7.41339147, -2.58417902],
        [-1.28998175,  5.87402028,  5.08417189,  6.14668926, -1.91246751,
          6.96744208,  8.58694871, -6.70111776],
        [ 6.24155759,  4.35307775,  7.00085268,  8.13256814,  5.93079796,
          7.17811947, -7.35880032, -3.16907551],
        [ 5.70706408,  2.33924485,  7.87432798,  6.28619167,  3.63299883,
          6.62624498, -5.51105539, -4.65777452],
        [-1.01438165,  4.12560709,  3.46017876,  7.64574856, -1.92945723,
          9.66708846,  6.75482465, -5.13674488],
        [-1.04305652,  6.50670031,  5.70476936,  6.21250198, -1.27570629,
          9.64595455,  7.84326437, -4.99401501],
        [-0.38302111,  7.79974779,  5.46907581,  7.87984411, -1.6099709 ,
          9.50235054,  7.63690356, -5.57789415],
        [ 4.28609568,  3.34904992,  8.66972677,  5.96126012,  6.27799145,
         10.33040251, -7.03425505, -1.94992161],
        [-1.64033761,  4.43673117,  5.55951897,  7.97774637, -3.20734792,
          9.11890695,  9.11751052, -5.56582461],
        [ 6.2871312 ,  2.34133182,  8.30492921,  8.46066367,  5.38902616,
          5.94263173, -6.71956047, -2.37972277],
        [ 4.58591206,  2.99586279,  7.40434292,  6.7261695 ,  6.84137142,
          7.27770041, -4.70116861, -4.02978022],
        [-2.07772618,  7.09141449,  5.76832137,  8.18691354, -4.16584328,
         11.09023176,  8.05975711, -3.90375024],
        [ 3.09117015,  2.71962249,  8.39464273,  6.37969148,  5.18572673,
          8.3270851 , -5.80632799, -4.41706394],
        [ 3.77610829,  2.56689153,  7.74575738,  6.11632725,  4.6159919 ,
          6.8449901 , -5.09455272, -1.40024716],
        [-1.44731731,  6.89602993,  4.80196391,  7.06842287, -1.96646727,
          9.86718225,  6.82549549, -5.68622317],
        [-3.1418339 ,  4.72046262,  4.9985365 ,  7.69458034, -1.47300005,
          7.95787354,  7.41808162, -5.97698352],
        [-1.62999792,  6.88302751,  4.67077805,  8.07523515, -2.1241398 ,
          9.90800732,  7.16321143, -5.96779877],
        [ 5.22751446,  2.75889241,  8.52052606,  8.3594179 ,  4.27080989,
          7.17423964, -7.03093992, -3.73708227],
        [-1.40693468,  4.76647833,  3.94199318,  7.93889292, -2.29060661,
         10.87513693,  8.88283237, -4.86750025],
        [ 3.65804195,  3.09729964,  7.06796091,  7.77163791,  4.62903927,
          8.02723134, -5.4970596 , -3.52488692],
        [-0.96343317,  7.19418106,  4.91272953,  5.76774673, -0.80906493,
          7.98150927,  8.57593384, -5.69637926],
        [ 4.64542409,  2.48505648,  7.74707023,  7.41411128,  5.41108681,
          7.70263548, -6.59772559, -4.55240901],
        [-2.40355385,  6.49160106,  2.93488971,  5.91166485, -3.2922392 ,
          7.6463224 ,  7.88179503, -3.03431071],
        [ 5.71660842,  1.1536809 ,  6.94906049,  5.03702234,  4.04415174,
          5.67027801, -6.7863636 , -3.69481602],
        [-2.01536318,  7.83386529,  2.83438405,  6.23119063, -3.13193732,
         10.58307576,  7.96916651, -6.9246544 ],
        [-1.32899128,  6.60748362,  4.44540102,  8.66479136, -2.03319035,
          9.9639662 ,  8.96444911, -5.63555526],
        [ 4.9354561 ,  3.72299333, 10.20171613,  6.7904531 ,  5.36111238,
          5.43221805, -8.57155191, -3.96291437],
        [ 1.64673799,  5.69130564,  2.36872287,  6.13418052, -0.25283666,
         10.18263408,  7.42946828, -5.26713367],
        [ 3.37211834,  3.42870106,  7.94668953,  6.35719729,  4.18547736,
          8.02032604, -7.35076593, -3.74876134]]),
 array([0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1,
        1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1,
        1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
        1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1]))

In [4]:
# Rename features
simple_dataset_df_features = pd.DataFrame(np.array(simple_dataset[0]), columns=["feature1", "feature2", "feature3", "feature4", "feature5", 
                                                                                "feature6", "feature7", "feature8"])

In [5]:
# Create labels DataFrame seperately to avoid naming the classes column as 0
simple_dataset_df_labels = pd.DataFrame({"labels": np.array(simple_dataset[1])})

In [6]:
simple_dataset_df_features

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8
0,-2.653115,6.052421,2.445955,6.744061,-1.540228,8.361224,7.868498,-5.032750
1,6.249542,3.344797,7.987720,5.117702,3.962526,6.154847,-7.165891,-2.076266
2,-0.650692,6.139976,3.270983,6.874413,-0.499298,10.008534,8.481131,-6.648801
3,-1.219119,6.059356,6.104988,6.435409,-4.506070,8.253071,5.827522,-6.661477
4,0.884523,8.289775,4.837620,7.965964,-4.072090,9.288901,8.845803,-5.310970
...,...,...,...,...,...,...,...,...
95,-2.015363,7.833865,2.834384,6.231191,-3.131937,10.583076,7.969167,-6.924654
96,-1.328991,6.607484,4.445401,8.664791,-2.033190,9.963966,8.964449,-5.635555
97,4.935456,3.722993,10.201716,6.790453,5.361112,5.432218,-8.571552,-3.962914
98,1.646738,5.691306,2.368723,6.134181,-0.252837,10.182634,7.429468,-5.267134
99,3.372118,3.428701,7.946690,6.357197,4.185477,8.020326,-7.350766,-3.748761

In [7]:
simple_dataset_df_labels

    labels
0        0
1        1
2        0
3        0
4        0
..     ...
95       0
96       0
97       1
98       0
99       1

[100 rows x 1 columns]

In [8]:
# Concat the features and labels together to create the full dataset
simple_dataset_full = pd.concat([simple_dataset_df_features, simple_dataset_df_labels], axis=1)
simple_dataset_full

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,labels
0,-2.653115,6.052421,2.445955,6.744061,-1.540228,8.361224,7.868498,-5.032750,0
1,6.249542,3.344797,7.987720,5.117702,3.962526,6.154847,-7.165891,-2.076266,1
2,-0.650692,6.139976,3.270983,6.874413,-0.499298,10.008534,8.481131,-6.648801,0
3,-1.219119,6.059356,6.104988,6.435409,-4.506070,8.253071,5.827522,-6.661477,0
4,0.884523,8.289775,4.837620,7.965964,-4.072090,9.288901,8.845803,-5.310970,0
...,...,...,...,...,...,...,...,...,...
95,-2.015363,7.833865,2.834384,6.231191,-3.131937,10.583076,7.969167,-6.924654,0
96,-1.328991,6.607484,4.445401,8.664791,-2.033190,9.963966,8.964449,-5.635555,0
97,4.935456,3.722993,10.201716,6.790453,5.361112,5.432218,-8.571552,-3.962914,1
98,1.646738,5.691306,2.368723,6.134181,-0.252837,10.182634,7.429468,-5.267134,0
99,3.372118,3.428701,7.946690,6.357197,4.185477,8.020326,-7.350766,-3.748761,1

In [9]:
# Export to csv for classification
simple_dataset_full.to_csv('data/simple_dataset.csv', index=False)

#### Generate a simple dataset with redundant features and flipped y to create noise

In [10]:
simple_noisy_dataset = make_classification(n_samples=100, n_features=8, n_informative=4, n_redundant=4, n_repeated=0,
                                      n_classes=2, n_clusters_per_class=2, weights=None, flip_y=0.1,
                                      class_sep=1, hypercube=True, shift=0.0, scale=1.0, shuffle=True, random_state=27)

In [11]:
# Rename features
simple_noisy_dataset_df_features = pd.DataFrame(np.array(simple_noisy_dataset[0]), columns=["feature1", "feature2", "feature3", "feature4", "feature5", 
                                                                                "feature6", "feature7", "feature8"])

In [12]:
# Create labels DataFrame seperately to avoid naming the classes column as 0
simple_noisy_dataset_df_labels = pd.DataFrame({"labels": np.array(simple_noisy_dataset[1])})

In [13]:
# Concat into full dataset
simple_noisy_dataset_full = pd.concat([simple_noisy_dataset_df_features, simple_noisy_dataset_df_labels], axis=1)
simple_noisy_dataset_full

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,labels
0,0.547218,0.117659,-0.466834,-1.214104,0.554416,-0.171233,0.076779,-0.822551,0
1,1.260256,0.869941,1.666619,-2.123211,-2.023184,-1.442386,0.556908,1.808193,0
2,-2.627469,2.225614,-1.045045,1.906242,0.446663,1.807224,-2.053173,-2.172053,1
3,-1.944252,2.032486,0.752929,1.825775,-1.656108,0.781387,-1.248109,0.492632,1
4,-0.106718,-0.179812,-0.918795,-0.986007,2.538731,0.081608,-0.999492,-1.907978,1
...,...,...,...,...,...,...,...,...,...
95,2.849848,-1.694915,-1.501459,-1.096969,-1.985549,-0.049947,3.885924,0.207834,1
96,-3.545575,1.015381,1.159851,2.450329,2.878726,0.559659,-4.222957,-0.452178,0
97,-0.465274,0.865868,1.512376,-0.479992,-0.185210,-0.751471,-1.188317,1.019099,0
98,-3.333714,2.534845,2.686473,1.622743,0.455288,-0.171383,-4.161840,1.154692,0
99,-2.934693,2.479926,-1.379709,2.980933,-0.735971,2.437321,-1.495345,-2.042430,1

In [14]:
# Export csv for classification
simple_noisy_dataset_full.to_csv('data/simple_noisy_dataset.csv', index=False)

#### Reduce the class seperation to increase the difficulty of the classification problem

In [15]:
complex_dataset = make_classification(n_samples=100, n_features=8, n_informative=8, n_redundant=0, n_repeated=0,
                                      n_classes=2, n_clusters_per_class=2, weights=None, flip_y=0.01,
                                      class_sep=0.1, hypercube=True, shift=0.0, scale=1.0, shuffle=True, random_state=27)

In [16]:
# Rename features
complex_dataset_df_features = pd.DataFrame(np.array(complex_dataset[0]), columns=["feature1", "feature2", "feature3", "feature4", "feature5", 
                                                                                "feature6", "feature7", "feature8"])

In [17]:
# Create labels DataFrame seperately to avoid naming the classes column as 0
complex_dataset_df_labels = pd.DataFrame({"labels": np.array(complex_dataset[1])})

In [18]:
# Concat into full dataset
complex_dataset_full = pd.concat([complex_dataset_df_features, complex_dataset_df_labels], axis=1)
complex_dataset_full

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,labels
0,0.195351,2.100090,-2.420573,0.629284,-1.047139,0.771754,-1.540232,-2.490717,1
1,-2.645260,1.235467,2.170054,-0.338245,0.113611,1.022120,-0.761678,-0.101435,0
2,3.539747,0.591097,3.358954,-5.904391,0.309390,-2.308706,-1.099218,4.250243,1
3,-0.911676,-0.617754,-2.928706,1.629786,-3.080454,0.074552,0.784917,-0.217459,1
4,0.099748,0.421693,-0.167761,-0.427883,-1.182734,-0.166955,0.623783,-1.494289,1
...,...,...,...,...,...,...,...,...,...
95,-3.294570,0.748689,-4.831375,3.024696,-0.993260,2.214474,1.950820,-0.379414,1
96,0.989697,-1.799076,1.411661,0.579070,1.633876,-0.615343,1.165504,2.135408,0
97,-1.694247,-2.955080,-0.615661,-0.634212,-0.040323,-0.662981,1.563497,2.499553,0
98,-0.471845,-2.123524,-1.252569,-0.773259,-0.242619,-4.524305,-1.251529,-1.997483,0
99,2.794388,-0.917776,2.865903,-0.355183,0.050446,-0.509799,-0.473222,0.831277,1

In [19]:
# Export to csv for classification
complex_dataset_full.to_csv('data/complex_dataset.csv', index=False)